---
---
<!doctype html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/papaparse@4.6.3/papaparse.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>{{ site.app_name }} - {{ site.org_name }}</title>
  </head>
  <body>
    <style type="text/css">
      .card-columns {
        column-count: 2;
      }

      @media (min-width: 576px) {
        .card-columns {
          column-count: 3;
        }
      }

      @media (min-width: 768px) {
        .card-columns {
          column-count: 5;
        }
      }

      .btn-floating {
        position: absolute;
        right: 10px;
        bottom: -15px;
      }

      .card-image {
        position: relative;
      }

      .cofounder-icon {
        border-radius: 100rem;
        font-size: 1.5rem;
      }
    </style>
    <div id="app" class="container-fluid">
      <div v-if="style == 'grid'" class="card-columns">
        <div v-for="person in items" class="card">
          <div class="card-image">
            <img v-if="person.avatar_url" class="card-img-top" :src="person.avatar_url" :alt="avatarAltText(person)">
            <span v-if="person.is_cofounder" class="cofounder-icon btn btn-floating btn-light active"><i class="fas fa-flag-checkered"></i></span>
          </div>
          <div class="card-body p-3">
            <h6 class="card-title m-0"><% person.first_name %> <% person.last_name %></h5>
          </div>
          <div class="card-footer p-2">
            <a v-if="person.slack_id" :href="slackUrl(person.slack_id)" class="btn btn-primary btn-sm w-100 mb-2 text-left"><i class="fab fa-lg fa-slack-hash"></i><span class="sr-only">Slack:</span> <% person.slack_username %></a>
            <span v-else class="btn btn-primary btn-sm disabled w-100 mb-2 text-left"><i class="fab fa-lg fa-slack-hash"></i><span class="sr-only">Slack:</span> <% person.slack_username %></span>
            <a v-if="person.twitter_url" target="_blank" :href="person.twitter_url" class="btn btn-primary btn-sm mr-1"><i class="fab fa-lg fa-twitter"></i><span class="sr-only">Twitter</span></a>
            <a v-else href="#" class="btn btn-secondary btn-sm mr-1 disabled"><i class="fab fa-lg fa-twitter"></i><span class="sr-only">Twitter</span></a>
            <a v-if="person.linkedin_url" target="_blank" :href="person.linkedin_url" class="btn btn-primary btn-sm mr-1"><i class="fab fa-lg fa-linkedin-in"></i><span class="sr-only">Linkedin</span></a>
            <a v-else href="#" class="btn btn-secondary btn-sm mr-1 disabled"><i class="fab fa-lg fa-linkedin-in"></i><span class="sr-only">Twitter</span></a>
          </div>
        </div>
      </div>
      <table v-if="style == 'table'">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Slack</th>
            <th>Twitter</th>
            <th>Linkedin</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="person in items">
            <td><% person.first_name %></td>
            <td><% person.last_name %></td>
            <td><% person.slack_username %></td>
            <td><a v-if="person.twitter_url" :href="person.twitter_url">@<% extractTwitterHandle(person.twitter_url) %></a></td>
            <td><a v-if="person.linkedin_url" :href="person.linkedin_url">/<% extractLinkedinHandle(person.linkedin_url) %></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    {% if site.github -%}
      <script src="embed.js?v={{ site.github.build_revision }}"></script>
    {% else %}
      <script src="embed.js"></script>
    {%- endif %}
  </body>
</html>
