---
---
<!doctype html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/papaparse@4.6.3/papaparse.js"></script>

    <title>{{ site.app_name }} - {{ site.org_name }}</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <table>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Slack</th>
              <th>Twitter</th>
              <th>Linkedin</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="row in rows">
              <td><% row.first_name %></td>
              <td><% row.last_name %></td>
              <td><% row.slack_username %></td>
              <td><a v-if="row.twitter_url" :href="row.twitter_url">@<% extractTwitterHandle(row.twitter_url) %></a></td>
              <td><a v-if="row.linkedin_url" :href="row.linkedin_url">/<% extractLinkedinHandle(row.linkedin_url) %></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% if site.github -%}
      <script src="index.js?v={{ site.github.build_revision }}"></script>
    {% else %}
      <script src="index.js"></script>
    {%- endif %}
  </body>
</html>
